spring:
  application:
    name: alert-service

  config:
    import: optional:configserver:http://config-server:8888

  profiles:
    active: dev

management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh

