
# Default profile - uses Git repository
spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        git:
          uri: https://github.com/AkhilDuddela5354/microservices-apps.git
          default-label: main
          clone-on-start: true
          search-paths:
            - test-config-server/global
            - test-config-server/services/{application}
            - test-config-server/environments/{profile}

management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh,prometheus,metrics
  metrics:
    export:
      prometheus:
        enabled: true

server:
  port: 8888

---
# Native profile - uses local filesystem (for development)
spring:
  config:
    activate:
      on-profile: native

  cloud:
    config:
      server:
        native:
          search-locations:
            - file:../test-config-server/global
            - file:../test-config-server/services/{application}
            - file:../test-config-server/environments/{profile}
