spring:
  application:
    name: asset-service

  config:
    import: optional:configserver:http://config-server:8888

  profiles:
    active: dev

management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh,prometheus,metrics
  metrics:
    export:
      prometheus:
        enabled: true
